<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Blog</title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="coverImage" class="form-label">CoverImage</label>
                <input type="file" class="form-control" id="coverImage" name="coverImage">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="content">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control"  id="content" name="content" rows="3"></textarea>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
    

    <%- include('./partials/script') %>
</body>
</html>